body {
    background-color: darkcyan;
    overflow:hidden;
}

#touch-box-container {
    transition:0.5s;
}
.btn {
    width:100px;
    position:relative;
    left:70%;
    top:90%;
    cursor:pointer;
}

.toggle {
    background-color: red;
    height: 100px;
    width: 100px;
}
